# ── OANDA ──────────────────────────────────────────────────────────────────
OANDA_API_KEY=31ba949f880a00e978722605048011a2-feb724bfcf868f694e5c6f8ab716cd54
OANDA_ACCOUNT_ID=101-001-38616888-001
OANDA_BASE_URL=https://api-fxpractice.oanda.com
OANDA_STREAM_URL=https://stream-fxpractice.oanda.com

# ── MongoDB ─────────────────────────────────────────────────────────────────
MONGO_URI=mongodb+srv://fxguruuser:<Sujathaanand5>@cluster0.ntyga28.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=fxguru_pro

# ── LLM / Chatbot ────────────────────────────────────────────────────────────
LLM_PROVIDER=gemini
GEMINI_API_KEY=AIzaSyDrBvWSdFMM7eydcKNViW_M0Q5Q6ZTagyY
OPENAI_API_KEY=

# ── MLflow ───────────────────────────────────────────────────────────────────
MLFLOW_TRACKING_URI=mlruns
